<h6>Archive</h6>
<h3>Welcome, {{name}}</h3>
<p>Here is your archive</p>

{{#if allSchedules}}
    <table class="striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Quote of the Day</th>
                <th>Status</th>
                <th></th> 
            </tr>
        </thead>
        <tbody>
            {{#each allSchedules}}
                <tr>
                    <td><a href="/schedule/edit/{{_id}}">{{formatDate day 'MMMM Do YYYY'}}</a></td>
                    <td><span>{{quoteOfTheDay}}</span></td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not added anything to your schedule.</p>

{{/if}}